<div class="container">
    <h1 class="heading text-xl-start text-center">Latest Recommendation</h1>
    <div class="row ">
        <div class="col-lg-5 col-12 ">

            <div class=" recommendation-1  ">
                <i class="fa-solid fa-trophy"></i>
                <img class=" img-fluid" src="../../assets/recommendation-1.jpg " alt="recommandation-1">

                <div class="d-flex align-items-center ">
                    <img class="rounded-circle m-4 " src="../../assets/1.jpg" alt="img" height="100px" width="100px">
                    <div class="content-recommandation ">
                        <h5 class="fs-4 ">Anil Sarda <sup> PRO</sup></h5>
                        <p>( Prerna Export )</p>
                    </div>
                </div>
                <div>
                    <p class="review mx-5">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna
                    </p>
                </div>
                <p class="company-name text-end fs-5 me-5 pb-4">SOWERE...</p>
            </div>
        </div>
        <div class="col-lg-2 "></div>
        <div class="col-lg-5 col-12">
            <div class=" recommendation-2 ">
                <i class="fa-solid fa-trophy"></i>
                <img class=" img-fluid" src="../../assets/recommendtion-2.jpg  " alt="recommandation-1">
                <div class="d-flex align-items-center ">
                    <img class="rounded-circle m-4 " src="../../assets/2.jpg" alt="img" height="100px" width="100px">
                    <div class="content-recommandation">
                        <h5 class="fs-4 "> Keshav Sharda</h5>
                        <p class="profile">( Prerna Export )</p>
                        <i class="fa-solid fa-trophy"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div>
                    <p class="review mx-5 ">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    </p>
                    <p class="company-name text-end fs-5 me-5 pb-4">SOWERE...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-6 ">
            <div class="card mx-auto">
                <img src="../../assets/recommendation-1.jpg" alt="" class="img-fluid ">
                <div class="card-body">
                    <div class="card-title d-flex  align-items-center px-2">
                        <img src="../../assets/1.jpg" alt="" class="rounded-circle" height="100px" width="100px">
                        <div class="ps-4">
                            <h5 class="fs-4 ">Anil Sarda <sup> PRO</sup></h5>
                            <p>( Prerna Export )</p>
                        </div>
                    </div>
                    <div class="card-text">
                        <p class="px-2">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        </p>
                        <p class="company-name text-end fs-5 me-5 pb-4">SOWERE...</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="card mx-auto mt-lg-0 mt-5">
                <img src="../../assets/recommendation-1.jpg" alt="" class="img-fluid">
                <div class="card-body">
                    <div class="card-title d-flex  align-items-center px-2">
                        <img src="../../assets/2.jpg" alt="" class="rounded-circle" height="100px" width="100px">
                        <div class="ps-4">
                            <h5 class="fs-4 ">Anil Sarda <sup> PRO</sup></h5>
                            <p>( Prerna Export )</p>
                        </div>
                    </div>
                    <div class="card-text">
                        <p class="px-2">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        </p>
                        <p class="company-name text-end fs-5 me-5 pb-4">SOWERE...</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->