<div class="conainer-fluid position-relative ">

    <div class="col-12 banner-img "
        style="background: url(../../../../assets/recommendation-1.jpg) no-repeat center; background-size:cover;">
    </div>
    <div class="d-lg-flex justify-content-lg-between ">
        <div class=" ms-xl-5 ms-3">
            <img src="../../../../assets/1.jpg" alt="img" class=" recommendation-circle rounded-circle img-fluid ">
        </div>
        <div class="d-lg-flex justify-content-lg-between mt-4 text-end get-in-touch">
            <div class="me-5">
                <i class="fa-regular fa-clock"></i>&NonBreakingSpace;
                <span>9:30 am - 6:30 pm</span>
            </div>
            <div class="me-5">
                <i class="fa-solid fa-location-pin"></i>&NonBreakingSpace;
                <span>Near Shiv Temple, <br> &NonBreakingSpace; &NonBreakingSpace;
                    &NonBreakingSpace;Rajaori Garden, Delhi, India</span>
            </div>
            <a href="#" class="btn contact rounded-0 px-4 fw-bold py-2 me-xl-5 me-3 ">View Contact Number</a>
        </div>
    </div>
</div>



<div class="container mt-5">
    <div class="row d-flex  justify-content-around headings">
        <div class="d-flex col-lg-8 col-12 justify-content-around headings3">
            <div class="col-4 fs-5 fw-bold">OverView</div>
            <div class="col-4 fs-5 fw-bold">Photos</div>
            <div class="col-4 fs-5 fw-bold">Review</div>
        </div>

        <div class="  col-lg-4 col-12">
            <div class="text-center">
                <div class=" fs-4 fw-bold heading-recommendation">Recomendation</div>
            </div>
            <div class="my-4  d-flex flex-column align-items-lg-end  align-items-center  ">
                <div class="card p-4  " style="width: 23rem;">
                    <div class="d-flex  align-items-center">
                        <img src="../../../../assets/2.jpg" class="recommendation-img " alt="img">
                        <div class="card-body">
                            <div class="card-title ">
                                <h5 class="my-0">Sahil Somani</h5>
                                <p class="fs-5 fw-medium mt-0">Business name</p>
                                <div>
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-instagram mx-2"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <p class="card-text">lorem ipsum dummy text ipo vdmfv m'od p'bk'po b ajdh hlijh g hljv kjnjk kjj iv
                        didkv
                        ljgkmblk bkg lbkl po ivh dhidjvio dil oijoid; dvndnjoi oi oibj; ;jo; fj uhfuu v liuudhvdiv kfdk
                        hjnhjv
                        hjv.
                        ijblk jbk jk ihgbkjnbk v liuudhvdiv kfdk hjnhjv hjv. ijblk jbk jk ihgbkjnbk</p>
                </div>



                <div class="card p-4 mt-5 " style="width: 23rem;">
                    <div class="d-flex align-items-center">
                        <img src="../../../../assets/2.jpg" class="recommendation-img " alt="img">
                        <div class="card-body">
                            <div class="card-title ">
                                <h5 class="my-0">Sahil Somani</h5>
                                <p class="fs-5 fw-medium mt-0">Business name</p>
                                <div>
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-instagram mx-2"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <p class="card-text">lorem ipsum dummy text ipo vdmfv m'od p'bk'po b ajdh hlijh g hljv kjnjk kjj iv
                        didkv
                        ljgkmblk bkg lbkl po ivh dhidjvio dil oijoid; dvndnjoi oi oibj; ;jo; fj uhfuu v liuudhvdiv kfdk
                        hjnhjv
                        hjv.
                        ijblk jbk jk ihgbkjnbk v liuudhvdiv kfdk hjnhjv hjv. ijblk jbk jk ihgbkjnbk</p>
                </div>



                <div class="card p-4 mt-5 " style="width: 23rem;">
                    <div class="d-flex align-items-center">
                        <img src="../../../../assets/2.jpg" class="recommendation-img " alt="img">
                        <div class="card-body">
                            <div class="card-title ">
                                <h5 class="my-0">Sahil Somani</h5>
                                <p class="fs-5 fw-medium mt-0">Business name</p>
                                <div>
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-instagram mx-2"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <p class="card-text">lorem ipsum dummy text ipo vdmfv m'od p'bk'po b ajdh hlijh g hljv kjnjk kjj iv
                        didkv
                        ljgkmblk bkg lbkl po ivh dhidjvio dil oijoid; dvndnjoi oi oibj; ;jo; fj uhfuu v liuudhvdiv kfdk
                        hjnhjv
                        hjv.
                        ijblk jbk jk ihgbkjnbk v liuudhvdiv kfdk hjnhjv hjv. ijblk jbk jk ihgbkjnbk</p>
                </div>
            </div>
        </div>
    </div>