.box-1 {

    box-shadow: 3px 2px 6px #00000029;
}

.abb {
    background-color: #023341;
    color: white;
}

.box-1 h5 {
    color: #023341;
}


.input-group {
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    box-shadow: 3px 2px 6px #00000029;


}

input {
    border: none
}

.p-3 {
    background-color: #FF5C02;
    color: #fff;
}

input hr {
    transform: rotate(90deg);
}

.contact {
    background-color: #FF5C02;
    color: #fff;
}

.box-1 .b .fa-solid,
.fa-regular {
    color: #FF5C02;
}

.content {
    font-size: 18px;
}

.userimg1 {
    margin-left: -5px;
}

.box-1 .right {
    color: #023341;

}

.course {
    font-size: 14px;
}

@media (max-width:767px) {
    .abcd {
        text-align: center;
    }

    .courses {
        text-align: center;
    }

    .sheetla {
        text-align: center;
        margin-top: 30px;

    }

    .box-1 {
        display: flex;
        justify-content: center;

    }

    .sheetla .sh {
        width:500px;
        display: flex;
        justify-content: center;
       
      
       
    }

    .img {
       border-radius: 16px;
       width: 500px !important;
       text-align: center;
       display: flex;
        justify-content: center;
      
    }
}
@media (max-width:576px) {
    .img {
        width: 300px !important;
        text-align: center;
        
}
.sheetla .sh {
    width:300px;
  
}
}