<div class="container my-4">
    <button type="button" class="btn abb ms-5" routerLink="/innerpage">Recommendation</button>
    <button type="button" class="btn abb ms-3">Rate</button>
</div>
<hr>
<div class="container px-5 my-5 ">
    <div class="input-group   d-flex align-items-center px-3 rounded-4">
        <i class="fa-solid fa-briefcase"></i>
        <input type="text" class="form-control py-4 me-2 " placeholder="Digital Marketing"
            aria-label="Digital Marketing" aria-describedby="basic-addon2">

        <hr class="p-2 ">

        <i class="fa-solid fa-location-pin"></i>
        <input type="text" class="form-control py-4 me-2 " placeholder="Sodala, Jaipur, India"
            aria-label="Sodala, Jaipur, India" aria-describedby="basic-addon2">
        <button type="button" class="btn p-3 rounded-4" id="basic-addon2">Find Solution </button>
    </div>
</div>

<div class="container my-5">
    <div class=" box-1 rounded-4">
        <div class=" d-md-flex justify-content-md-between ">
            <div class="d-lg-flex">
                <div style="background: url(../../../assets/recommendation-1.jpg) no-repeat center; background-size:cover  ;height: 200px; width: 270px ;"
                    class=" position-relative  rounded-start-4 img  ">
                    <div class="position-absolute  " style="top: 5%; right: 5% ; color: gray;">
                        <i class="fa-solid fa-heart "></i>
                        <br>
                        <i class="fa-solid fa-share-nodes "></i>
                    </div>
                </div>
                <div class=" ms-lg-4 sheetla">
                    <h5>Sheetla Mata Trading Company</h5>
                    <div class="mt-1 d-flex sh ">
                        <div class="b">
                            <i class="fa-solid fa-star "></i>&NonBreakingSpace;
                            <span class="content ">5( 290 Reviews)</span>
                        </div>
                        <div class="ms-md-5 b">
                            <i class="fa-solid fa-trophy"></i>&NonBreakingSpace;
                            <strong class=" ">Pro</strong>
                        </div>
                    </div>
                    <div class="mt-1 b">
                        <i class="fa-regular fa-clock"></i>&NonBreakingSpace;
                        <span class="content">9:30 am - 6:30 pm</span>
                    </div>
                    <div class="mt-1 b">
                        <i class="fa-solid fa-location-pin"></i>&NonBreakingSpace;
                        <span class="content">Near Shiv Temple, <br> &NonBreakingSpace; &NonBreakingSpace;
                            &NonBreakingSpace;Rajaori Garden, Delhi, India</span>
                    </div>
                    <a href="#" class="btn contact rounded-0 px-5 fw-bold py-2 mt-2">View Contact Number</a>
                </div>
            </div>

            <div class="right me-3  d-flex flex-column  align-items-lg-end">
                <div class="abcd">

                    <p class="fs-5 my-xl-3 mb-lg-0 fw-bold ">98</p>
                    <p class="my-lg-1">Recommendation</p>
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="rounded-circle img-fluid z-1 userimg"
                            style="height: 30px;" width="30px">
                        <img src="../../../assets/2.jpg" alt="" class="rounded-circle img-fluid z-2 userimg1"
                            style="height: 30px;" width="30px">
                        <img src="../../../assets/1.jpg" alt="" class="rounded-circle img-fluid z-3 userimg1"
                            style="height: 30px;" width="30px">
                        <img src="../../../assets/2.jpg" alt="" class="rounded-circle img-fluid z-4 userimg1"
                            style="height:30px;" width="30px">
                        <img src="../../../assets/1.jpg" alt="" class="rounded-circle img-fluid z-5 userimg1"
                            style="height: 30px;" width="30px">
                    </div>
                </div>

                <div class="mt-4 d-xl-flex courses">
                    <div>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course me-1 mb-xl-0 mb-1">Web
                            Development</button>
                        <button type="button"
                            class="btn btn-outline-secondary rounded-5 course me-1 mb-xl-0 mb-1">Training</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course me-1 ">Content
                            Wirting</button>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course me-1 ">SEO</button>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course  ">SMO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container my-5">
    <div class=" box-1 rounded-4">
        <div class=" d-md-flex justify-content-md-between ">
            <div class="d-lg-flex">
                <div style="background: url(../../../assets/recommendation-1.jpg) no-repeat center; background-size:cover  ;height: 200px; width: 270px ;"
                    class=" position-relative  rounded-start-4 img  ">
                    <div class="position-absolute  " style="top: 5%; right: 5% ; color: gray;">
                        <i class="fa-solid fa-heart "></i>
                        <br>
                        <i class="fa-solid fa-share-nodes "></i>
                    </div>
                </div>
                <div class=" ms-lg-4 sheetla">
                    <h5>Sheetla Mata Trading Company</h5>
                    <div class="mt-1 d-flex sh ">
                        <div class="b">
                            <i class="fa-solid fa-star "></i>&NonBreakingSpace;
                            <span class="content ">5( 290 Reviews)</span>
                        </div>
                        <div class="ms-md-5 b">
                            <i class="fa-solid fa-trophy"></i>&NonBreakingSpace;
                            <strong class=" ">Pro</strong>
                        </div>
                    </div>
                    <div class="mt-1 b">
                        <i class="fa-regular fa-clock"></i>&NonBreakingSpace;
                        <span class="content">9:30 am - 6:30 pm</span>
                    </div>
                    <div class="mt-1 b">
                        <i class="fa-solid fa-location-pin"></i>&NonBreakingSpace;
                        <span class="content">Near Shiv Temple, <br> &NonBreakingSpace; &NonBreakingSpace;
                            &NonBreakingSpace;Rajaori Garden, Delhi, India</span>
                    </div>
                    <a href="#" class="btn contact rounded-0 px-5 fw-bold py-2 mt-2">View Contact Number</a>
                </div>
            </div>

            <div class="right me-3  d-flex flex-column  align-items-lg-end">
                <div class="abcd">

                    <p class="fs-5 my-xl-3 mb-lg-0 fw-bold ">98</p>
                    <p class="my-lg-1">Recommendation</p>
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="rounded-circle img-fluid z-1 userimg"
                            style="height: 30px;" width="30px">
                        <img src="../../../assets/2.jpg" alt="" class="rounded-circle img-fluid z-2 userimg1"
                            style="height: 30px;" width="30px">
                        <img src="../../../assets/1.jpg" alt="" class="rounded-circle img-fluid z-3 userimg1"
                            style="height: 30px;" width="30px">
                        <img src="../../../assets/2.jpg" alt="" class="rounded-circle img-fluid z-4 userimg1"
                            style="height:30px;" width="30px">
                        <img src="../../../assets/1.jpg" alt="" class="rounded-circle img-fluid z-5 userimg1"
                            style="height: 30px;" width="30px">
                    </div>
                </div>

                <div class="mt-4 d-xl-flex courses">
                    <div>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course me-1 mb-xl-0 mb-1">Web
                            Development</button>
                        <button type="button"
                            class="btn btn-outline-secondary rounded-5 course me-1 mb-xl-0 mb-1">Training</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course me-1 ">Content
                            Wirting</button>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course me-1 ">SEO</button>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course  ">SMO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container my-5">
    <div class=" box-1 rounded-4">
        <div class=" d-md-flex justify-content-md-between ">
            <div class="d-lg-flex">
                <div style="background: url(../../../assets/recommendation-1.jpg) no-repeat center; background-size:cover  ;height: 200px; width: 270px ;"
                    class=" position-relative  rounded-start-4 img  ">
                    <div class="position-absolute  " style="top: 5%; right: 5% ; color: gray;">
                        <i class="fa-solid fa-heart "></i>
                        <br>
                        <i class="fa-solid fa-share-nodes "></i>
                    </div>
                </div>
                <div class=" ms-lg-4 sheetla">
                    <h5>Sheetla Mata Trading Company</h5>
                    <div class="mt-1 d-flex sh ">
                        <div class="b">
                            <i class="fa-solid fa-star "></i>&NonBreakingSpace;
                            <span class="content ">5( 290 Reviews)</span>
                        </div>
                        <div class="ms-md-5 b">
                            <i class="fa-solid fa-trophy"></i>&NonBreakingSpace;
                            <strong class=" ">Pro</strong>
                        </div>
                    </div>
                    <div class="mt-1 b">
                        <i class="fa-regular fa-clock"></i>&NonBreakingSpace;
                        <span class="content">9:30 am - 6:30 pm</span>
                    </div>
                    <div class="mt-1 b">
                        <i class="fa-solid fa-location-pin"></i>&NonBreakingSpace;
                        <span class="content">Near Shiv Temple, <br> &NonBreakingSpace; &NonBreakingSpace;
                            &NonBreakingSpace;Rajaori Garden, Delhi, India</span>
                    </div>
                    <a href="#" class="btn contact rounded-0 px-5 fw-bold py-2 mt-2">View Contact Number</a>
                </div>
            </div>

            <div class="right me-3  d-flex flex-column  align-items-lg-end">
                <div class="abcd">

                    <p class="fs-5 my-xl-3 mb-lg-0 fw-bold ">98</p>
                    <p class="my-lg-1">Recommendation</p>
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="rounded-circle img-fluid z-1 userimg"
                            style="height: 30px;" width="30px">
                        <img src="../../../assets/2.jpg" alt="" class="rounded-circle img-fluid z-2 userimg1"
                            style="height: 30px;" width="30px">
                        <img src="../../../assets/1.jpg" alt="" class="rounded-circle img-fluid z-3 userimg1"
                            style="height: 30px;" width="30px">
                        <img src="../../../assets/2.jpg" alt="" class="rounded-circle img-fluid z-4 userimg1"
                            style="height:30px;" width="30px">
                        <img src="../../../assets/1.jpg" alt="" class="rounded-circle img-fluid z-5 userimg1"
                            style="height: 30px;" width="30px">
                    </div>
                </div>

                <div class="mt-4 d-xl-flex courses">
                    <div>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course me-1 mb-xl-0 mb-1">Web
                            Development</button>
                        <button type="button"
                            class="btn btn-outline-secondary rounded-5 course me-1 mb-xl-0 mb-1">Training</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course me-1 ">Content
                            Wirting</button>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course me-1 ">SEO</button>
                        <button type="button" class="btn btn-outline-secondary rounded-5 course  ">SMO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>