<div class="container">
    <h1 class="heading text-xl-start text-center">Latest Review</h1>
    <div class="row d-flex justify-content-around mb-5">
        <div class="col-lg-5 col-12 content1 text-center ">

            <div style="background: url(../../assets/1.jpg)  no-repeat center ; background-size: cover;"
                class="rounded-circle image mx-auto"></div>


            <h2 class="mt-4 ">Sheetla Mata Trading Company</h2>
            <p class="mt-4 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde et
                exercitationem quas dicta quibusdam facere expedita maxime repellat fuga, sapiente
                consequatur laudantium! Iste quibusdam sunt, accusantium delectus voluptas vel ullam.</p>
            <div class="mt-3 ">
                <i class="fa-solid fa-star "></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="line mt-3"></div>
            <h4 class="fs-4 mt-3 ">
                Khushi Mavi
            </h4>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5 col-12 content2 text-center mt-5 mt-lg-0">

            <div style="background: url(../../assets/1.jpg)  no-repeat center ; background-size: cover;"
                class="rounded-circle image mx-auto"></div>


            <h2 class="mt-4 ">Sheetla Mata Trading Company</h2>
            <p class="mt-4 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde et
                exercitationem quas dicta quibusdam facere expedita maxime repellat fuga, sapiente
                consequatur laudantium! Iste quibusdam sunt, accusantium delectus voluptas vel ullam.</p>
            <div class="mt-3 ">
                <i class="fa-solid fa-star "></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="line mt-3"></div>
            <h4 class="fs-4 mt-3 ">
                Paras Mavi
            </h4>
        </div>


    </div>
</div>
