 <div class="container">
    <div class="hospital-heading ">
        <h1 class="heading text-center ">Dummy Heading</h1>
        <p class="text-center "> On-call or face-to-face on-call or face-to-face on-call or face-to-face on-call <br> or
            face-to-faceon-call or face-to-faceon-call</p>
    </div>
    <div class="row  container-grid gy-5 mt-5 ">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 ">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class=" border-1 rounded-4 mx-auto grid-item">
            </div>
            <p class="content">Hospitals</p>
        </div>
</div>