<div class="container">
    <h1 class=" heading text-xl-start text-center">Latest Business Add</h1>
    <div class="row ">
        <div class="col-xl-6 col-12 ">

            <div class="img-business mx-auto ">
                <img class="img-fluid col-8" src="../../assets/banner-1.jpg" alt="img">
                
                <div class="business-add-content ">
                    <div class="business-add-content-inner ">
                        <p class="name pt-2 mb-0 fw-bold">Sahil Somani</p>
                        <p class="mail mb-0 ">
                            sahil@sowere.in
                        </p>
                        <p class="content py-2">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore at.

                        </p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="contact  py-2 text-center  " href="#">
                            View Contact Number 
                        </a>

                    </div>
                </div>


                <div class="business-services  ">

                    <button class="btn btn-outline-dark rounded-pill btn1 me-1 my-1 b" type="submit">Web
                        Development</button>
                    <button class="btn btn-outline-dark rounded-pill btn2 my-1 b" type="submit">Training</button>
                    <br>
                    <button class="btn btn-outline-dark rounded-pill btn3 my-1 b" type="submit">Content Wirting</button>
                    <button class="btn btn-outline-dark rounded-pill btn4 mx-1 my-1 b" type="submit">SEO</button>
                    <button class="btn btn-outline-dark rounded-pill btn5 my-1 b" type="submit">SMO</button>

                </div>
                <div class="business-company ">
                    <p>Sowere Technologies And<br> Innovations Pvt. Ltd</p>
                </div>
               
            </div>
        </div>
      
        <div class=" col-xl-6  col-12 mt-5 mt-xl-0">

            <div class="img-business mx-auto ">
                <img class="img-fluid col-8" src="../../assets/banner-1.jpg" alt="img">

                <div class="business-services   ">

                    <button class="btn btn-outline-dark rounded-pill btn1 me-1 my-1 b" type="submit">Web
                        Development</button>
                    <button class="btn btn-outline-dark rounded-pill btn2 my-1 b" type="submit">Training</button>
                    <br>
                    <button class="btn btn-outline-dark rounded-pill btn3 my-1 b" type="submit">Content Wirting</button>
                    <button class="btn btn-outline-dark rounded-pill btn4 mx-1 my-1 b" type="submit">SEO</button>
                    <button class="btn btn-outline-dark rounded-pill btn5 my-1 b" type="submit">SMO</button>

                </div>
                <div class="business-company ">
                    <p>Sowere Technologies And<br> Innovations Pvt. Ltd</p>
                </div>
                <div class="business-add-content ">
                    <div class="business-add-content-inner ">
                        <p class="name pt-2 mb-0 fw-bold">Sahil Somani</p>
                        <p class="mail mb-0 ">
                            sahil@sowere.in
                        </p>
                        <p class="content py-2">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore at.

                        </p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="contact  py-2 text-center  " href="#">
                            View Contact Number
                        </a>

                    </div>
                </div>

            </div>

        </div>

    </div>