<div class="container-fluid  mt-4 px-xl-5 px-2">
    <div class="row  d-flex align-items-center flex-wrap-reverse ">
        <div class="left col-lg-6 col-12 text-lg-start text-center">
            <h2>Find the <br>Perfect Solution</h2>
            <p>On-call or face-to-face</p>
            <p>Choose from <span style="color: coral;">50k business </span> </p>

            <div class="input-group d-flex align-items-center px-3 rounded-4 ">
                <i class="fa-solid fa-briefcase"></i>
                <input type="text" class="form-control  py-4 me-2" placeholder="what do you want to get"
                    aria-label="what do you want to get" aria-describedby="button-addon2">
                <button class="btn p-3 rounded-4 text-capitalize" type="button" id="button-addon2">find
                    solution</button>
            </div>
        </div>


        <div class="col-lg-6 col-12 d-flex  images justify-content-between">

            <div class="home-img img-1 col-4 rounded-pill  "
                style="background: url(../../assets/banner-1.jpg) no-repeat center; background-size:cover; ">

            </div>
            <div class="home-img img-2 col-4 rounded-pill mx-xl-3  mx-1 "
                style="background: url(../../assets/banner-2.jpg) no-repeat center; background-size:cover; ">
            </div>
            <div class="home-img img-3 col-4 rounded-pill  "
                style="background: url(../../assets/banner-3.jpg) no-repeat center; background-size:cover; ">
            </div>



        </div>


    </div>